In [1]:
import pandas as pd
import sklearn

In [2]:
pd.__version__

'2.1.4'

In [3]:
sklearn.__version__

'1.2.2'

In [28]:
jan24 = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-01.parquet'
feb24 = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-02.parquet'

df_1 = pd.read_parquet(jan24)
df_2 = pd.read_parquet(feb24)

In [29]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3066766 entries, 0 to 3066765
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            float64
dtypes: datetime64[us](2), float64(12), int64(4), object(1)
memory usage: 444.6+ MB

In [30]:
#Q1 18 columns

In [31]:
df_1.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,2,2023-01-01 00:32:10,2023-01-01 00:40:36,1.0,0.97,1.0,N,161,141,2,9.3,1.00,0.5,0.00,0.0,1.0,14.30,2.5,0.00
1,2,2023-01-01 00:55:08,2023-01-01 01:01:27,1.0,1.10,1.0,N,43,237,1,7.9,1.00,0.5,4.00,0.0,1.0,16.90,2.5,0.00
2,2,2023-01-01 00:25:04,2023-01-01 00:37:49,1.0,2.51,1.0,N,48,238,1,14.9,1.00,0.5,15.00,0.0,1.0,34.90,2.5,0.00
3,1,2023-01-01 00:03:48,2023-01-01 00:13:25,0.0,1.90,1.0,N,138,7,1,12.1,7.25,0.5,0.00,0.0,1.0,20.85,0.0,1.25
4,2,2023-01-01 00:10:29,2023-01-01 00:21:19,1.0,1.43,1.0,N,107,79,1,11.4,1.00,0.5,3.28,0.0,1.0,19.68,2.5,0.00

In [42]:
# Convert columns A and B to datetime objects
df_1['duration'] = -(pd.to_datetime(df_1['tpep_pickup_datetime']) - pd.to_datetime(df_1['tpep_dropoff_datetime'])).dt.total_seconds()

In [45]:
std_deviation = df_1['duration'].std()

# Convert standard deviation back to minutes
std_deviation_minutes = std_deviation / 60

print("Standard Deviation (in minutes):", std_deviation_minutes)

Standard Deviation (in minutes): 42.59435124195673

In [58]:
#HW 3
df_1['duration_mins'] = df_1['duration']/60

In [50]:
filtered_df = df_1[(df_1['duration_mins']) >= 1 & (df_1['duration_mins'] <= 60)]

In [57]:
(filtered_df.shape[0] / df_1.shape[0]) * 100

98.91302433899423

3033431